In [5]:
import pandas as pd
import numpy as np
%matplotlib notebook
import matplotlib.pyplot as plt

# 5-way, 5-shot 15-queries

# Experiment-2:

{
"dataset": "miniimagenet",
"root": "../dataset/mini_imagenet",
"n_ways": 5,
"k_shots": 5,
"q_shots": 15,
"inner_adapt_steps_train": 5,
"inner_adapt_steps_test": 5,
"inner_lr": 0.001,
"meta_lr": 0.0001,
"meta_batch_size": 30,
"iterations": 3500,
"wt_ce": 1,
"klwt": "False",
"rec_wt": 1,
"beta_l": 1,
"beta_s": 1,
"experiment": "exp2",
"order": "False",
"device": "cuda"
}

In [46]:
df_train = pd.read_csv('./exp4/train.csv')
df_valid = pd.read_csv('./exp4/valid.csv')
df_test = pd.read_csv('./exp4/test.csv')

In [44]:
def correction(df, path):
    df['a'] = df['ELBO'].apply(lambda x: x.replace("[", ""))
    df['a'] = df['a'].apply(lambda x: x.replace("]", ""))
    df['a'] = df['a'].apply(lambda x: x.split(", "))
    df[['ELBO', 'Label_KL', 'Style_KL', 'Reconst_Loss', 'CE_Loss']] = pd.DataFrame(df['a'].tolist())
    df.drop(columns=['a'])
    df.to_csv(path)

In [ ]:
correction(df_train, )

In [49]:
df_valid.head()

,task,accuracy,ELBO,Label_KL,Style_KL,Reconst_Loss,CE_Loss
0,0,0.253333,<generator object <genexpr> at 0x7fe78cb5b4a0>,NaN,NaN,NaN,NaN
1,1,0.346667,<generator object <genexpr> at 0x7fe911dc5510>,NaN,NaN,NaN,NaN
2,2,0.240000,<generator object <genexpr> at 0x7fe911dc5510>,NaN,NaN,NaN,NaN
3,3,0.186667,<generator object <genexpr> at 0x7fe911dc5510>,NaN,NaN,NaN,NaN
4,4,0.306667,<generator object <genexpr> at 0x7fe911dc5510>,NaN,NaN,NaN,NaN

In [41]:
df_train['a'] = df_train['ELBO'].apply(lambda x: x.replace("[", ""))
df_train['a'] = df_train['a'].apply(lambda x: x.replace("]", ""))
df_train['a'] = df_train['a'].apply(lambda x: x.split(", "))
df_train[['ELBO', 'Label_KL', 'Style_KL', 'Reconst_Loss', 'CE_Loss']] = pd.DataFrame(df_train['a'].tolist())
df_train.drop(columns=['a'], inplace=True)
df_train.head()

,task,accuracy,ELBO,Label_KL,Style_KL,Reconst_Loss,CE_Loss
0,0,0.373333,193.83935546875,13.944713592529297,7.009795188903809,2507.172119140625,1.4781312942504883
1,1,0.160000,215.18350219726562,15.043779373168945,6.963221073150635,2554.450927734375,1.6763198375701904
2,2,0.306667,199.13633728027344,13.192551612854004,7.316178798675537,2401.73046875,1.5461030006408691
3,3,0.346667,198.44973754882812,12.838288307189941,7.280230522155762,2579.722900390625,1.525339961051941
4,4,0.320000,197.34095764160156,14.44733715057373,7.336524486541748,2542.8818359375,1.501282811164856

In [28]:
df_train['a'][0]

['193.83935546875',
 '13.944713592529297',
 '7.009795188903809',
 '2507.172119140625',
 '1.4781312942504883']